<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/index.html">home</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/index.html">home</a>
				</li>			
			{% endif %}
			{% if page.path == "publication-home.html" %}
			<span class="title">
				<li>
					<a href="/_site/publication-home.html">publications</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/_site/publication-home.html">publications</a>
				</li>			
			{% endif %}
			{% if page.path == "cv.html" %}
			<span class="title">
				<li>
					<a href="/cv/Jenkins-CV-2015.pdf">cv</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/cv/Jenkins-CV-2015.pdf">cv</a>
				</li>			
			{% endif %}
			{% if page.path == "project-list.html" %}
			<span class="title">
				<li>
					<a href="/_site/project-list.html">projects</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/_site/project-list.html">projects</a>
				</li>			
			{% endif %}
		</div>
	</div>
</header>
